<h2 translate>content.headline.enum</h2>
<p [innerHtml]="'content.text.enum' | translate"></p>
<h3 translate>content.headline.enum_options</h3>
<p translate>content.text.enum_options</p>
<mat-form-field>
  <mat-label>Hero Type</mat-label>
  <mat-select>
    @for (item of items; track item) {
      <mat-option [value]="item.value">
        {{ item.label ?? (item.labelTranslateKey! | translate) }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<h3 translate>content.headline.pipe</h3>
<p translate>content.text.pipe</p>
Original value: {{ HeroType.Scientist }}
<code class="tw-block"> Original value: {{ '&#123;&#123; HeroType.Scientist &#125;&#125;' }} </code>
<br />As String: {{ HeroType.Scientist | enumKey: HeroType }}
<code class="tw-block"> As String: {{ '&#123;&#123; HeroType.Scientist | enumKey : HeroType &#125;&#125;' }} </code>
