<section class="tw-px-8">
  <mat-button-toggle-group>
    <mat-button-toggle (click)="setLanguage('de')" [checked]="true">Deutsch</mat-button-toggle>
    <mat-button-toggle (click)="setLanguage('en')">English</mat-button-toggle>
  </mat-button-toggle-group>
  <h1 translate>content.headline.first</h1>
  <p translate>content.text.1</p>
</section>
<mat-tab-group class="tw-flex-1 tw-overflow-hidden">
  <mat-tab label="Table">
    <section class="tw-px-8">
      <app-table></app-table>
    </section>
  </mat-tab>
  <mat-tab label="Full table">
    <app-full-table class="tw-flex tw-flex-col tw-flex-1"></app-full-table>
  </mat-tab>
  <mat-tab label="Dialogs">
    <section class="tw-px-8">
      <app-dialogs></app-dialogs>
    </section>
  </mat-tab>
  <mat-tab label="Enums">
    <section class="tw-px-8">
      <app-enum></app-enum>
    </section>
  </mat-tab>
  <mat-tab label="File List">
    <app-file-list></app-file-list>
  </mat-tab>
  <mat-tab label="Loading">
    <section class="tw-px-8">
      <app-loading></app-loading>
    </section>
  </mat-tab>
</mat-tab-group>

