<section>
  <h1 class="tw-p-4 tw-m-0" translate>Bolzplatzarena Component Examples</h1>
  <p class="tw-px-4">Collection of conmponents and utilities based on the angular material library.</p>
  <h2 class="tw-p-4 tw-m-0">Table</h2>
  <p class="tw-px-4">Easy way to use a table, whitout the need to implement to headers and columns by you own.</p>
  <p class="tw-px-4">Custom column configuration availble for:</p>
  <ul>
    <li>Date</li>
    <li>Enumeration</li>
  </ul>
  <bpa-table [columnConfig]="config"
             [columns]="['name', 'level', 'type', 'health', 'birthday']"
             [dataset]="data"
             (deleteEvent)="die()"
             (editEvent)="view()"
             translateKey="hero.components.hero-list."></bpa-table>
  <h3 class="tw-p-4">Options</h3>
  <p class="tw-px-4">
    sortable (default: true) - set to false to disable sorting
  </p>
  <h2 class="tw-p-4">Enum Helper</h2>
  <p class="tw-px-4">
    Sometimes it is hard to handle enums but it is important to use an enum instead of just using a number or a string.
    <br>Here you can find some little helpers, which enable you to use enum for material select or in the tempalte as a
    string very easily.
  </p>
  <h3 class="tw-p-4">Select Options with enumeration</h3>
  <p class="tw-px-4">Easy why to use a typescript enum as source of the material select.</p>
  <section class="tw-px-4">
    <mat-form-field>
      <mat-label>Hero Type</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{ item.label ?? (item.labelTranslateKey ! | translate) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <h3 class="tw-p-4">Pipe</h3>
  <p class="tw-px-4">
    Original value: {{ HeroType.Scientist }}
  </p>
  <code>
    Original value: {{ '&#123;&#123; HeroType.Scientist &#125;&#125;' }}
  </code>
  <p class="tw-px-4">
    As String: {{ HeroType.Scientist | enumKey : HeroType }}
  </p>
  <code>
    As String: {{ '&#123;&#123; HeroType.Scientist | enumKey : HeroType &#125;&#125;' }}
  </code>
</section>
