<section class="tw-p-4">
  <h1>Examples</h1>
  <h2>Table</h2>
  <p>Easy way to use a table, whitout the need to implement to headers and columns by you own.</p>
  <p>Custom column configuration availble for:</p>
  <ul>
    <li>Date</li>
    <li>Enumeration</li>
  </ul>
  <bpa-table [columnConfig]="config"
             [columns]="['name', 'level', 'type', 'health', 'birthday']"
             [dataset]="data"
             (deleteEvent)="die()"
             (editEvent)="view()"
             translateKey="hero.components.hero-list."></bpa-table>
  <h3>Options</h3>
  sortable (default: true) - set to false to disable sorting
  <h2>Select Options with enumeration</h2>
  <p>Easy why to use a typescript enum as source of the material select.</p>
  <mat-form-field>
    <mat-label>Hero Type</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of items" [value]="item.value">
        {{ item.label ?? (item.labelTranslateKey ! | translate) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
