<bpa-button type="raised" color="accent" [function]="click">
  {{ text }}
</bpa-button>
<br><br>
<bpa-button type="raised" color="warn" [function]="click">
  {{ longText }}
</bpa-button>
<br><br>
<bpa-button type="stroked" color="accent" [function]="click">
  {{ text }}
</bpa-button>
<br><br>
<bpa-button type="raised" color="primary" [function]="click">
  {{ longText }}
</bpa-button>
<br><br>
<bpa-button type="raised" color="primary" [disabled]="true" [function]="click">
  {{ longText }}
</bpa-button>
<br><br>
