<h2 class="tw-p-4 tw-m-0" translate>content.headline.dialogs</h2>
<p class="tw-px-4" translate>content.text.dialogs</p>
<h3 translate>dialog.simple_dialog.title</h3>
<p translate>dialog.simple_dialog.content</p>
<button mat-stroked-button type="button" (click)="openDialog()">Open dialog</button>
<h3 translate>dialog.confirmation.title</h3>
<p translate>dialog.confirmation.content</p>
<button mat-stroked-button type="button" (click)="openConfirmation()">Open dialog</button>
<h3 translate>dialog.layout.title</h3>
<p translate>dialog.layout.content</p>
<button mat-stroked-button type="button" (click)="openCommon()">Open dialog</button>
<p translate>dialog.layout.form</p>
<button mat-stroked-button type="button" (click)="openForm()">Open dialog</button>
